// Global styling for this template

body {
  @include body-font;
  padding-top: 54px;
  color: $gray-600;

  &.dark {
    background-color: $black;
    color: $white;

    .bg-primary {
      background-color: $dark-nav-bg !important;
    }

    a {
      color: $dark-primary;
    }

    .text-primary {
      color: $dark-primary !important;
    }
  }
}
@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: $sidebar-base-width;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
  font-weight: 700;
  text-transform: uppercase;
  color: $gray-800;

  .dark & {
    color: $dark-headings;
  }
}

h1 {
  font-size: 4rem;
  line-height: 5.5rem;

  @media (min-width: 768px) {
    font-size: 6rem;
  }
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2rem;
}

p.lead {
  font-size: 1.15rem;
  font-weight: 400;
}

.subheading {
  text-transform: uppercase;
  font-weight: 500;
  @include heading-font;
  font-size: 1.5rem;
}

.social-icons {
  a {
    display: inline-block;
    height: 3.5rem;
    width: 3.5rem;
    background-color: $gray-700;
    color: $white !important;
    border-radius: 100%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3.5rem;
    margin-right: 1rem;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      background-color: $primary;

      .dark & {
        background-color: $dark-primary;
      }
    }

    .dark & {
      background-color: $dark-nav-bg;
    }
  }
}

.dev-icons {
  font-size: 3rem;
  .list-inline-item i {
    &:hover {
      color: $primary;
    }
  }
}

.btn-switcher {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.75rem;
  &:hover {
    color: rgba(255, 255, 255, 0.75);
  }
}
